body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#home {
    color: darkblue;
    text-decoration: none;
    background-color: thistle;
    padding: 5px 10px;
    border-radius: 0.75rem;
    box-shadow: 1px 1px 1px black;
}
